@use "../abstracts/variables"as *;

body {
    background: $background-colour;
    background: url("../../assets/background-image.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}