// header styling
@use "../abstracts/variables"as *;

header {
  text-align: center;
  margin-top: 250px;

  h1 {
    color: $title-intro-text-color;
    font-family: $title-font;
    font-size: $title-font-size;
    font-weight: $title-weight;
    margin-bottom: 30px;
  }

  h1>span {
    display: inline-block;
    white-space: break-spaces;
    -webkit-text-stroke: 1px hsl($heading-colour);
    color: hsl($heading-colour);
    animation:
      fill .5s calc(var(--index) * 0.02s + 1s) cubic-bezier(0.645, 0.045, 0.355, 1) both;
    will-change: transform, color;
  }

  p {
    color: $title-intro-text-color;
    font-family: $intro-text-font;
    font-size: $intro-text-font-size;
    font-weight: $intro-text-weight;
    margin-top: 0;
    max-width: 800px;
    margin: auto;
    margin-bottom: 60px;
  }
}

@keyframes fill {
  from {
    opacity: 0;
    transform: translateX(2rem) scale(1.2);
    color: hsl(20 100% 82% / 0);
  }

  35% {
    opacity: 1;
  }

  50% {
    color: hsl(20 100% 82% / 0);
  }
}