// variables with whole typography
@use "../abstracts/variables"as *;

/* FORM */
form {
  font-family: $form-font-family;
  color: $form-text-color;
  font-size: $form-font-size;

  h2 {
    font-weight: $h2-weight;
    margin-bottom: 7px;
    font-size: $form-font-size;
  }

  p {
    font-weight: $desc-weight;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .personal_info {
    label {
      font-weight: $label-weight;
    }
  }

  .options-header {
    font-weight: $label-weight;
    margin-bottom: 7px;
    margin-top: 22px;
    display: block;
  }

  // .platforms_info label:first-child {
  //   font-weight: $label-weight;
  // }

  // .areas label:first-child {
  //   font-weight: $label-weight;
  // }

}